<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Areas/unigate/Static/ckeditor/ckfinder/ckfinder.js"></script>

<a href="#">@Html.Raw(Html.EditableImage("PageSayfa"))</a>
<a href="#">@Html.Raw(Html.EditableImage("Deneme"))</a>
<a href="#">@Html.Raw(Html.EditableImage("Deneme"))</a>
<a href="#">@Html.Raw(Html.EditableImage("Deneme"))</a>
<a href="#">@Html.Raw(Html.EditableImage("Deneme"))</a>
<a href="#">@Html.Raw(Html.EditableImage("Deneme"))</a>

